# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log

# Ignore local server data
/data/
